.navbar_style .nav>li>a {
    padding: 15px 7px;
    color: #1E3460;
    font-size: 14px;
}
.navbar-right >.sign_up_btn{
    background-color: white;
    border: 1px solid blue;
    color: blue;
}
.img_responsive{
    height: 100%;
}

.hamburger_style{   
    background-color: #2485fd;
}

/* stop header */

/* start main */


.section_1{
    background-image: url(img/bg-banner-home.jpg)
}
.section_1 h1>strong{
     font-size: 50px;
}

.line_height_p{
    font-size: 20px;
}
.section_1 .my_blue_text p {
    color: #B6C8FF;
    font-size: 20px;
}
.my_style_pannel{
    color: #031C4E;
    padding-bottom: 0;
}
.my_blue_text{
    line-height: 1.5;
}

.btn_form{
    font-size: 18px;
    padding: 2px;
    background-color: #579AFF;
    margin-bottom: 13px;
}
.color_down_text_panel{
    color: #031C4E;
    margin-top: 6px;
    
}

form .btn_form_2 {
    position: relative;
    font-size: 18px;
    padding: 2px;
    background-color: white;
    border: 1px solid lightgray;
}


.icon_google {
    width: 17px;
    position: absolute;
    left: 25px;
    top: 4px;
}

 .section_1 a:hover,
 .section_2 a:hover,
 .section_3 a:hover,
 .section_4 a:hover{
     color:black;
    text-decoration: none;
}

/* STOP SECTION_1 MAIN */


/* START SECTION_2 MAIN */

.section_2{
    background-color: #F3F5F9;
}

.my_logos{
    width: 110%;
    height: 130px;
    
}
/* start section_3 */

.font_text{
    font-size:24px;
}
.section_3 .my_ul_style{
    border-left: 1px solid lightgray;
}

.section_3 .my_ul_style>ul{
    margin-bottom: 0;
    padding-left: 10px;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section_3 .container .aline_coll{
    margin-bottom: 20px;
}


/* start section_4 */
.section_4,
.section_7{
    background-color: #F3F5F9;
}

.section_4 .col-lg-1 a,
.section_7 .col-lg-1 a{ 
    font-size: 25px;
}
.img_style_sec_4{
    width: 100%;
}

.chevron_my_style{
    position: relative;
    top: 177px;
    }
/* stop section_4 */

/* start section_6 */

.section_6,
.section_8{
    background-color: #0043C1;
}

.section_6>*{
    color: white;
}

.my_list_stile{
    background-color: #0043c1;
    border-left: none;
    border-right: none;
    border-bottom: none;
   border-radius: 0px;
}

.section_6 .my_list_stile:nth-of-type(1){
    border-top: none;
}

.top_speed_color{
    color: #00CFD0;
}
.top_speed_color:hover{
    color: turquoise;
    text-decoration: none;
}


/* stop section_6*/

/* start section_7 */

.img_style_sec_7{
    width: 50%;
}

.section_7_white{
    background-color: white;
    border-radius: 4px;
}

.chevron_style{
    position: relative;
    top: 128px;
}

/* stop section_7 */


/* start footer */

footer{
    background-color:#031C4E ;
}

.li_my_style{
    background-color: #031c4e;
    padding: 4px;
    border: none;
}

footer .li_my_style>a{
    color: #A6ADBD;
}
.social_style{
    margin-right: 10px;
    font-size: 30px;
    color: #A6ADBD;
}
.footer_logo>p{
    color: #A6ADBD;
    margin-bottom: 0;
}
.footer_logo>span{
    color: #5A6887;
    display: block;
}

footer a>img{
    width: 30px;
  
}



/* stop footer */


.container_shark{
    position: fixed;
    bottom: 40px;
    right: 150px;
  
}

.stile_shark{
    background-color: rgba(14, 14, 206, 0.623);
    width: 100px;
    display: inline-block;
    border-radius: 5px;

}
.text_shark>p{
    margin: 0;
}


  

.text_shark{
   position: relative;
    top: 15px;
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-right: 15px;
    padding-left: 10px;
    width: 330px;
   
}


.caret_absolute {
    font-size: 30px;
    position: absolute;
    left: 328px;
    top: 40px;
    color: white;
}


.text_shark:hover{
    display:none ;
}
    

.stile_shark>img{
    width: 50%;
}






@media (min-width:992px)  { 

    .ul_my_style{
        margin-left: 12%;
    }
    .chevron_my_style {
        position: relative;
        top: 154px;
    }

}

@media (max-width:991px)  { 
    .section_1 h1>strong{
        font-size: 30px;  
   }
   .section_1 .my_blue_text p {
    color: #B6C8FF;
    font-size: initial;
   } 
   .my_blue_text{
    line-height: 1.5;
    font-size: 18px;
    } 

    .resize_img_mq{
        width: 80%;
        margin: auto;
    } 


}  

@media (max-width:991px) {}


/* utility classes in use*/
.pt_50{
    padding-top: 50px;
}
.pb_50{
    padding-bottom: 50px;
}

.pb_20{
    padding-bottom: 20px;
}

.pt_20{
    padding-top: 20px;
}

.pad_0{
    padding: 0;
}

.mb_0{
    margin-bottom: 0;
}
.text_color{
    color: #ffff
    ;
}
.height_30{
    height: 38px;
}

.blue_color{
    color: blue;
}

.ml_end_mr{
    margin:0  10px 0 10px ;
}

.height_100{
    height: 100%;
}
/*end utility classes in use*/

/* utility classes not  in use*/


 .border{
    border:1px solid red ;
}

 

