.navbar_style{
    margin-bottom: 0px;
}

.img_responsive{
    height: 140%;
}

.hamburger_style{
    background-color: #2485fd;
}


main .section_1{
    background-image: url(img/bg-banner-home.jpg)
}


/* utility classes */

.pt_30{
    padding-top: 50px;
}

.pb_30{
    padding-bottom: 30px;
}